* {
  margin: 0px;
  color: black;
  text-decoration: none;
}

.appCont {
  display: flex;
}

/* --------------------------------------------------------------------------------------------- */
/* #GENERALPOSTDESIGN */
.postCont {
  display: flex;
  align-items: center;
  padding: 35px 3% 30px 3%;
}
.postProfileIconBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 115px;
  background: black;
  padding: 5px;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.postProfileIconBody {
  width: 95%;
  height: 95%;
  overflow-wrap: break-word;
  background: white;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.postUsername {
  border-style: solid;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  background: white;
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);
  margin: -45px 0px 0px 35px;
}
.generalPostCont {
  width: 100%;
  margin: 0px 0px 0px 30px;
}
.generalPostTitleCont {
  display: flex;
  justify-content: flex-start;
}
.generalPostTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -1% 0% 0% 2.5%;
}
.generalPostTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.generalPostTitleBody h4 {
  padding: 10px 15px 10px 15px;
}
.generalPostBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody {
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody p {
  padding: 40px 6.2% 40px 7%;
}
.generalPostDateTimeCont {
  display: flex;
  justify-content: flex-end;
}
.generalPostDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  margin: -27px 2.5% 0% 0%;
}
.generalPostDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.generalPostDateTimeBody p {
  padding: 4% 20px 4% 15px;
}
.likeCom {
  display: flex;
  position: absolute;
  margin: -27px 0% 0% 2%;
}
.likeCom button {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: thick;
  border-color: black;
  padding: 4%;
  background: white;
  margin: 0px 10px 0px 0px;
}

/* #THREADBANNER */
.allThreads {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threadCont {
  width: 85%;
  margin: 3% 0% 2% 0%;
}
.threadNameCont {
  display: flex;
}
.threadNameBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
  position: absolute;
  z-index: 1;
  margin: -0.5% 0% 0% 2%;
}
.threadNameBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: white;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.threadBorder {
  width: 100%;
  background: black;
  padding: 10px;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody {
  background: white;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody p {
  padding: 5% 4.5% 4% 5.5%;
}
.threadInfoCont {
  display: flex;
  justify-content: flex-end;
}
.threadInfo {
  display: flex;
  position: absolute;
  margin: -1.6% 2.5% 0% 0%;
}
.threadInfo div {
  display: flex;
  align-items: center;
  background: white;
  padding: 2%;
  margin: 0px 15px 0px 0px;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

/* #PAGEBANNER */
.pageBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}

/* #GENERALTHEMEOFCOMMENT*/
.commentCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px 20px 10px;
}
.commentMainCont {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.commentBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentBody {
  background: white;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentBody p {
  padding: 20px 80px 25px 80px;
}
.commentDateCont {
  display: flex;
  justify-content: flex-end;
}
.commentDateBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  margin: -25px 120px 0px 0px;
}
.commentDateBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.commentDateBody p {
  padding: 5px 15px 5px 15px;
}

/* #RANDOMNEWS */
.randNewsCont {
  padding: 25px 20px 15px 20px;
}
.randTitleCont {
  display: flex;
}
.randTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -15px 0px 0px 25px;
}
.randTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.randTitleBody h4 {
  padding: 5px 15px 5px 15px;
}
.randNewBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(1% 0%, 99% 1%, 98% 97%, 2% 100%);
  border-radius: 35px;
}
.randNewBody {
  background: white;
  clip-path: polygon(1% 0%, 99% 1%, 98% 97%, 2% 100%);
  border-radius: 35px;
}
.randNewBody p {
  padding: 30px 30px 25px 35px;
}
.randNewUserCont {
  display: flex;
  justify-content: flex-end;
}
.randNewUserBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  margin: -21px 30px 0px 0px;
}
.randNewUserBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.randNewUserBody p {
  padding: 5px 20px 5px 20px;
}

/* --------------------------------------------------------------------------------------------- */
/* #NAVBAR */
.navbarPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100vh;
  border-right: solid;
  border-width: thin;
  border-color: lightgray;
  position: fixed;
}
.navbar {
  display: flex;
  flex-direction: column;
}
.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.logReg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

/* #MAINPAGE */
.mainPage {
  width: 100%;
  margin: 0% 30% 0% 20.08%;
}

/* #RANDOMNEWSPAGE */
.randomNewsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
  border-left: solid;
  border-width: thin;
  border-color: lightgray;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}
.randomNewsPage::-webkit-scrollbar {
  display: none;
}
.randomNewsPage h2 {
  padding: 15px 0px 0px 0px;
}
.nextBackBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0px 15px 0px;
}
.backBtnBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(
    40% 0%,
    40% 30%,
    100% 30%,
    92% 70%,
    40% 70%,
    40% 100%,
    0% 50%
  );
}
.backBtnBody {
  background: white;
  padding: 15px 15px 15px 15px;
  clip-path: polygon(
    35% 0%,
    35% 30%,
    100% 30%,
    92% 70%,
    35% 70%,
    35% 99%,
    0% 50%
  );
}
.backBtnBody button {
  border: none;
  outline: none;
  background: white;
}
.forwardBtnBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(
    1% 30%,
    60% 30%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 70%,
    25% 70%
  );
}
.forwardBtnBody {
  background: white;
  padding: 15px 15px 15px 15px;
  clip-path: polygon(
    1% 30%,
    64% 30%,
    64% 0%,
    100% 50%,
    64% 100%,
    64% 70%,
    25% 70%
  );
}
.forwardBtnBody button {
  border: none;
  outline: none;
  background: white;
}

/* #REGISTER */
.register {
  display: flex;
  flex-direction: column;
  padding: 8%;
  align-items: center;
}
.regFormBorder {
  width: 70%;
  padding: 10px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.regFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 325px;
  padding: 55px 40px 55px 40px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPartCont {
  display: flex;
}
.regFormPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPart button {
  margin: 0px 0px 15px 0px;
}
.regFormPartTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPartTwo button {
  margin: 0px 0px 15px 0px;
}

/* #LOGIN */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
}
.loginTitle {
  position: absolute;
  z-index: 1;
  margin: -15px 0px 0px 0px;
}
.loginTitle h2 {
  padding: 5px 10px 5px 10px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.loginFormBorder {
  width: 50%;
  padding: 10px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.loginFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 275px;
  padding: 50px 40px 40px 40px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.loginFormBody h3 {
  padding: 10px;
}
.inputBorder {
  padding: 8px;
  margin: 0px 10px 10px 10px;
  background: black;
  clip-path: polygon(7% 5%, 105% 5%, 95% 93%, -6% 98%);
}
.inputBody {
  background: white;
  clip-path: polygon(5% 0%, 105% 0%, 95% 100%, -5% 100%);
}
.inputBody input {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border: none;
  outline: none;
}

/* #SUBTHREADS */
.subthreads {
  display: flex;
  flex-direction: column;
}
.searchCreateBtn {
  display: flex;
  flex-direction: column;
  padding: 20px 35px 25px 25px;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.searchCreateBtn input {
  width: 100%;
}
.createThreadForm {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  align-items: center;
}
#createThreadForm {
  display: none;
}
.searchCreateCont {
  display: flex;
  justify-content: flex-end;
}
.searchCreate {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: -25px 50px 0px 0px;
}
.searchCreate button {
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 0px 20px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.threadPostCont {
  display: flex;
  justify-content: center;
}
.threadPostNameBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
  position: absolute;
  z-index: 1;
  margin: -0.5% 0% 0% 2%;
}
.threadPostNameBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
  background: white;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.threadPostNameBody input {
  border: none;
  outline: none;
}
.threadPostBorder {
  width: 100%;
  background: black;
  padding: 10px;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadPostBody {
  background: white;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
  padding: 35px 45px 30px 45px;
}
.threadPostBody textarea {
  width: 100%;
  border: none;
  outline: none;
}
.createThreadBtnCont {
  display: flex;
  justify-content: flex-end;
}
.createThreadBtn {
  position: absolute;
  margin: -35px 80px 0px 0px;
}
.createThreadBtn button {
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: thick;
  background: white;
}

/* #SUBTHREADSPAGE */
.curThreadCont {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.addPostBtnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.addPostBtn {
  display: flex;
  position: absolute;
  margin: -0.65% 2.5% 0px 0px;
  z-index: 1;
}
.addPostBtn button {
  display: flex;
  padding: 7px;
  margin: 0px 0px 0px 10px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.postFormCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 40px 30px 20px;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.addPostForm {
  width: 100%;
}
#postFormCont {
  display: none;
}
.postTitleFormCont {
  display: flex;
}
.postTitleFormBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -0.75% 0% 0% 3%;
}
.postTitleFormBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.postTitleFormBody input {
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
}
.postBodyFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.postBodyFormBody {
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
  padding: 30px 60px 25px 60px;
}
.postBodyFormBody textarea {
  width: 100%;
  border: none;
  outline: none;
}
.postFormBtnCont {
  display: flex;
  justify-content: flex-end;
}
.postFormBtn {
  position: absolute;
  margin: -1.3% 4% 0% 0%;
}
.postFormBtn button {
  padding: 6px;
  border-style: solid;
  border-width: thick;
  background: white;
}

/* #SINGLEPOSTPAGE */
.singlePostCont {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 0px 0px 20px 0px;
}
.commentFormBtnCont {
  display: flex;
  justify-content: flex-end;
}
.commentFormBtn {
  position: absolute;
  z-index: 1;
  margin: -0.75% 2% 0% 0%;
}
.commentFormBtn button {
  padding: 5px;
  background: white;
  border-style: solid;
  border-width: thick;
  margin: 0px 0px 0px 10px;
}
.commentForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 15px 20px 30px 5px;
}
#commentForm {
  display: none;
}
.commentFormCont {
  width: 80%;
}
.commentFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentFormBody {
  background: white;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
  padding: 15px 55px 15px 55px;
}
.commentFormBody textarea {
  width: 100%;
  border: none;
  outline: none;
}
.commentBtnCont {
  display: flex;
  justify-content: flex-end;
}
.commentBtn {
  position: absolute;
  margin: -1.2% 5% 0% 0%;
}
.commentBtn button {
  padding: 5px;
  border-style: solid;
  border-width: thick;
  background: white;
  cursor: pointer;
}

/* #EXPLOREPAGE */
.searchInput {
  display: flex;
  flex-direction: column;
  padding: 20px 35px 25px 20px;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.searchInputBorder {
  width: 100%;
  background: black;
  padding: 8px;
  clip-path: polygon(0% 8%, 97% 1%, 100% 95%, 3% 99%);
}
.searchInputBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  clip-path: polygon(0% 5%, 97% 5%, 100% 95%, 3% 89%);
  padding: 25px 40px 30px 35px;
}
.searchInputBody input {
  border: none;
  outline: none;
}
.searchBtn {
  display: flex;
  justify-content: flex-end;
}
.searchBtn button {
  position: absolute;
  margin: -25px 50px 0px 0px;
  background: white;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: thick;
}

/* #PROFILE */
.accountBanner {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 0px 0px 40px 0px;
}
.banner {
  height: 200px;
  background-color: lightgray;
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: -75px 0px 0px 40px;
}
.accountIcon {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  background-color: lightgray;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}
.profileNav {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 15px 0px 15px 0px;
}
.profileNavBtnBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(15% 0, 85% 0, 100% 65%, 85% 100%, 15% 100%, 0 35%);
}
.profileNavBtnBody {
  background: white;
  clip-path: polygon(15% 0, 85% 0, 100% 65%, 85% 100%, 15% 100%, 0 35%);
  padding: 5px 20px 5px 20px;
}
.allUsersPost {
  flex-direction: column;
}
.profileNavBtnBody button {
  background: white;
  border: none;
  outline: none;
}
#allUsersPost {
  display: flex;
}
.allUsersComment {
  flex-direction: column;
}
#allUsersComment {
  display: none;
}
.allUsersThread {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#allUsersThread {
  display: none;
}
.notificationCont {
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}
.notificationBorder {
  background: black;
  padding: 6px;
  clip-path: polygon(
    25% 5%,
    97% 2%,
    95% 76%,
    98% 100%,
    75% 97%,
    2% 97%,
    5% 28%,
    2% 0%
  );
}
.notificationBody {
  background: white;
  clip-path: polygon(
    25% 5%,
    97% 2%,
    95% 85%,
    97% 100%,
    74% 97%,
    2% 97%,
    5% 17%,
    3% 0%
  );
}
.notificationBody p {
  padding: 10px 40px 10px 40px;
}

/* #MYTHREADSPAGE */
.userThreadCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteThreadBtn {
  display: flex;
  justify-content: flex-end;
}
.deleteThreadBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: white;
  border-style: solid;
  border-width: thick;
  position: absolute;
  z-index: 1;
  margin: -15px 1% 0px 0px;
}

/* #USERBOOKMARKS */
.notificationCont {
  display: flex;
}
.deleteBtn {
  display: flex;
  justify-content: flex-end;
}
.deleteBtn button {
  display: flex;
  padding: 4px;
  background: white;
  border-style: solid;
  border-width: thick;
  position: absolute;
  z-index: 1;
  margin: -16px 2% 0px 0px;
}

/* #SETTINGS */
.updateFormBorder {
  background: black;
  padding: 10px;
  margin: 10px 25px 10px 25px;
  clip-path: polygon(1% 2%, 99% 1%, 95% 98%, 4% 98%);
}
.updateFormBorder h3 {
  margin: 10px 0px 15px 0px;
}
.updateFormBody {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 30px 0px 30px 0px;
  clip-path: polygon(2% 4%, 98% 2%, 95% 97%, 4% 97%);
}
.userUpdate,
.passUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
