* {
  margin: 0px;
  color: black;
  text-decoration: none;
}

.appCont {
  display: flex;
}

/* --------------------------------------------------------------------------------------------- */
/* #GENERALPOSTDESIGN */
.postCont {
  display: flex;
  align-items: center;
  padding: 30px 3% 20px 3%;
}
.postProfileIconBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 115px;
  background: black;
  padding: 5px;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.postProfileIconBody {
  width: 95%;
  height: 95%;
  overflow-wrap: break-word;
  background: white;
  clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}
.postUsername {
  border-style: solid;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  background: white;
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);
  margin: -45px 0px 0px 35px;
}
.generalPostCont {
  width: 100%;
  margin: 0px 0px 0px 30px;
}
.generalPostTitleCont {
  display: flex;
  justify-content: flex-start;
}
.generalPostTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -1% 0% 0% 1.5%;
}
.generalPostTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.generalPostTitleBody h4 {
  padding: 10px 15px 10px 15px;
}
.generalPostBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody {
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.generalPostBody p {
  padding: 3.6% 6.2% 3.6% 6.2%;
}
.generalPostDateTimeCont {
  display: flex;
  justify-content: flex-end;
}
.generalPostDateTimeBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  margin: -1.5% 2.5% 0% 0%;
}
.generalPostDateTimeBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.generalPostDateTimeBody p {
  padding: 4% 20px 4% 15px;
}
.likeCom {
  display: flex;
  position: absolute;
  margin: -1.25% 0% 0% 2%;
}
.likeCom div {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: medium;
  border-color: black;
  padding: 3%;
  background: white;
  margin: 0px 10px 0px 0px;
}

/* #THREADBANNER */
.allThreads {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.threadCont {
  width: 85%;
  margin: 3% 0% 2% 0%;
}
.threadNameCont {
  display: flex;
}
.threadNameBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
  position: absolute;
  z-index: 1;
  margin: -0.5% 0% 0% 2%;
}
.threadNameBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: white;
  clip-path: polygon(
    10% 100%,
    0% 66%,
    0% 33%,
    10% 0%,
    90% 0%,
    100% 35%,
    100% 66%,
    90% 100%
  );
}
.threadBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody {
  background: white;
  clip-path: polygon(3% 100%, 2% 5%, 99% 0%, 97% 90%);
}
.threadBody p {
  padding: 5% 4.5% 4% 5.5%;
}
.threadInfoCont {
  display: flex;
  justify-content: flex-end;
}
.threadInfo {
  display: flex;
  position: absolute;
  margin: -1.6% 2.5% 0% 0%;
}
.threadInfo div {
  display: flex;
  align-items: center;
  background: white;
  padding: 2%;
  margin: 0px 15px 0px 0px;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

/* #PAGEBANNER */
.pageBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}

/* #GENERALTHEMEOFCOMMENT*/
.commentCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px 20px 10px;
}
.commentBorder {
  width: 80%;
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentBody {
  background: white;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentBody p {
  padding: 20px 80px 20px 80px;
}

/* #RANDOMNEWS */
.randNewsCont {
  padding: 25px 20px 5px 20px;
}
.randTitleCont {
  display: flex;
}
.randTitleBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -15px 0px 0px 25px;
}
.randTitleBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.randTitleBody h4 {
  padding: 5px 15px 5px 15px;
}
.randNewBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(1% 0%, 99% 1%, 98% 97%, 2% 100%);
  border-radius: 35px;
}
.randNewBody {
  background: white;
  clip-path: polygon(1% 0%, 99% 1%, 98% 97%, 2% 100%);
  border-radius: 35px;
}
.randNewBody p {
  padding: 25px 30px 15px 30px;
}

/* --------------------------------------------------------------------------------------------- */
/* #NAVBAR */
.navbarPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100vh;
  border-right: solid;
  border-width: thin;
  border-color: lightgray;
  position: fixed;
}
.navbar {
  display: flex;
  flex-direction: column;
}
.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.logReg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

/* #MAINPAGE */
.mainPage {
  width: 100%;
  margin: 0% 30% 0% 20.08%;
}

/* #RANDOMNEWS */
.randomNewsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
  border-left: solid;
  border-width: thin;
  border-color: lightgray;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}
.randomNewsPage::-webkit-scrollbar {
  display: none;
}
.randomNewsPage h3 {
  padding: 20px 0px 20px 0px;
}
.nextBackBtn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0px 15px 0px;
}

/* #REGISTER */
.register {
  display: flex;
  flex-direction: column;
  padding: 8%;
  align-items: center;
}
.regFormBorder {
  width: 70%;
  padding: 10px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.regFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 325px;
  padding: 55px 40px 55px 40px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPartCont {
  display: flex;
}
.regFormPart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPart button {
  margin: 0px 0px 15px 0px;
}
.regFormPartTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regFormPartTwo button {
  margin: 0px 0px 15px 0px;
}

/* #LOGIN */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
}
.loginTitle {
  position: absolute;
  z-index: 1;
  margin: -15px 0px 0px 0px;
}
.loginTitle h2 {
  padding: 5px 10px 5px 10px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.loginFormBorder {
  width: 50%;
  padding: 10px;
  background: black;
  clip-path: polygon(0% 10%, 15% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
}
.loginFormBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 275px;
  padding: 50px 40px 40px 40px;
  background: white;
  clip-path: polygon(4% 14%, 14% 3%, 100% 0%, 96% 87%, 85% 97%, 0% 100%);
}
.loginFormBody h3 {
  padding: 10px;
}
.inputBorder {
  padding: 8px;
  margin: 0px 10px 10px 10px;
  background: black;
  clip-path: polygon(7% 5%, 105% 5%, 95% 93%, -6% 98%);
}
.inputBody {
  background: white;
  clip-path: polygon(5% 0%, 105% 0%, 95% 100%, -5% 100%);
}
.inputBody input {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border: none;
  outline: none;
}

/* #SUBTHREADS */
.subthreads {
  display: flex;
  flex-direction: column;
}
.searchCreateBtn {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.searchCreateBtn input {
  width: 100%;
}
.createThreadForm {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
#createThreadForm {
  display: none;
}

/* #SUBTHREADSPAGE */
.curThreadCont {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.addPostBtnCont {
  display: flex;
  justify-content: flex-end;
}
.addPostBtn {
  position: absolute;
  margin: -0.65% 2.5% 0px 0px;
  z-index: 1;
}
.addPostBtn button {
  padding: 7px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.postFormCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 40px 30px 20px;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.addPostForm {
  width: 100%;
}
#postFormCont {
  display: none;
}
.postTitleFormCont {
  display: flex;
}
.postTitleFormBorder {
  background: black;
  padding: 5px;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
  position: absolute;
  z-index: 1;
  margin: -0.75% 0% 0% 3%;
}
.postTitleFormBody {
  background: white;
  clip-path: polygon(5% 5%, 94% 3%, 98% 25%, 94% 90%, 5% 97%, 1% 60%);
}
.postTitleFormBody input {
  padding: 10px 20px 10px 20px;
  border: none;
  outline: none;
}
.postBodyFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
}
.postBodyFormBody {
  background: white;
  clip-path: polygon(5% 5%, 99% 0%, 95% 98%, 0% 95%);
  padding: 30px 60px 25px 60px;
}
.postBodyFormBody textarea {
  width: 100%;
  border: none;
  outline: none;
}
.postFormBtnCont {
  display: flex;
  justify-content: flex-end;
}
.postFormBtn {
  position: absolute;
  margin: -1.3% 4% 0% 0%;
}
.postFormBtn button {
  padding: 6px;
  border-style: solid;
  border-width: thick;
  background: white;
}

/* #SINGLEPOSTPAGE */
.singlePostCont {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 0px 0px 20px 0px;
}
.commentFormBtnCont {
  display: flex;
  justify-content: flex-end;
}
.commentFormBtn {
  position: absolute;
  z-index: 1;
  margin: -0.75% 2% 0% 0%;
}
.commentFormBtn button {
  padding: 5px;
  background: white;
  border-style: solid;
  border-width: thick;
}
.commentForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 15px 20px 30px 5px;
}
#commentForm {
  display: none;
}
.commentFormCont {
  width: 80%;
}
.commentFormBorder {
  background: black;
  padding: 10px;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
}
.commentFormBody {
  background: white;
  clip-path: polygon(8% 1%, 0% 20%, 5% 97%, 92% 95%, 98% 76%, 95% 4%);
  padding: 15px 55px 15px 55px;
}
.commentFormBody textarea {
  width: 100%;
  border: none;
  outline: none;
}
.commentBtnCont {
  display: flex;
  justify-content: flex-end;
}
.commentBtn {
  position: absolute;
  margin: -1.2% 5% 0% 0%;
}
.commentBtn button {
  padding: 5px;
  border-style: solid;
  border-width: thick;
  background: white;
  cursor: pointer;
}

/* #EXPLOREPAGE */
.searchInput {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}
.searchInput input {
  width: 100%;
}
